@use '../variables' as var;

.form {
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var.$white;
    border-radius: 35px;

    @media (min-width: var.$tablet-width) {
        position: absolute;
        left: 40px;
        bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;      
        max-width: 668px;
        padding-bottom: 15px;
        z-index: 1;        
    }

    @media (min-width: var.$desktop-width) {
        bottom: 41px;
        left: 50%;
        transform: translateX(-18%);
        max-width: 1000px;
        padding: 0;
        grid-template-columns: repeat(5, min-content);
        gap: 0;
        border-radius: 280px;
    }
}

.form__item {
    position: relative;
    padding-left: 34px;

    @media (min-width: var.$desktop-width) {
        padding: 27px 0 26px 64px;

        &:not(:nth-child(4)):after {
            position: absolute;
            content: "";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 60px;
            background-color: #e8e8e8;
        }
    }

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;

        @media (min-width: var.$desktop-width) {
            transform: none;
            top: 27px;
            left: 30px;
        }
    }
}

.form__item--guests {
    @media (min-width: var.$tablet-width) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    @media (min-width: var.$desktop-width) {
        grid-column: 4/5;
        grid-row: 1/2;
        margin-right: 85px;
    }
}

.form__item--location::before {
    background-image: url('/assets/vectors/location.svg')
}

.form__item--check::before {
    background-image: url('/assets/vectors/calendar.svg');
}

.form__item--guests::before {
    background-image: url('/assets/vectors/person.svg');
}

.form__label {
    font-size: 20px;
    line-height: 24px;

    @media (min-width: var.$desktop-width) {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }
}

.form__input {
    padding: 8px;
    border: none;

    @media (min-width: var.$tablet-width) {
        padding: 10px;
    }
    
    @media (min-width: var.$desktop-width) {
        padding: 0;
        max-width: 109px;
    }
}

.form__button {
    position: relative;
    font-size: 18px;
    line-height: 24px;

    @media (min-width: var.$tablet-width) {
        grid-column: 2/3;
    }

    @media (min-width: var.$desktop-width) {
        grid-column: 5/6;
        min-width: 200px;
        padding-left: 70px;
        border-radius: 280px;
    }

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 54px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url('/assets/vectors/search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;

        @media (min-width: var.$tablet-width) {
            left: 40px;
        }

        @media (min-width: var.$desktop-width) {
            left: 46px;
        }
    }
}