@use '../variables' as var;

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

    @media (min-width: var.$tablet-width) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (min-width: var.$desktop-width) {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.header__logo {
    margin-left: 118px;
    cursor: pointer;

    @media (min-width: var.$tablet-width) {
        margin-left: 0;
    }
}

.header__button {
    padding: 9px 19px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.35px;
}