@use '../variables' as var;

.hotels {
    display: grid;
    grid-template-columns: 320px;
    justify-content: center;
}

.hotels__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
}

.hotels__title {
    text-align: center;
}

.hotels__button {
    padding: 5px 25px;
    font-size: 16px;
    line-height: 28px;
    color: var.$brand-color;
    border: 1px solid var.$brand-color-opacity;
    border-radius: 280px;
    background-color: var.$brand-color-opacity;
}

.hotels__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hotels__image {
    display: block;
    border-radius: 15px 15px 0 0;
}

.hotels__content {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, min-content);
    padding: 24px 10px;
    background-color: var.$light-grey;
    border-radius: 0 0 15px 15px;
}

.hotels__text {
    grid-column: 1/3;
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
    color: var.$brand-color;
}

.hotels__subtitle {
    grid-column: 1/3;
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

.hotels__price {
    position: relative;
    display: inline-block;
    grid-column: 1/2;
    margin: 0;
    margin-right: 10px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 18px;
    white-space: nowrap;

    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background-color: var.$hotels-background;
    }
}

.hotels__rating {
    position: relative;
    margin: 0;
    justify-self: flex-end;

    &::before {
        position: absolute;
        content: "";
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        width: 87px;
        height: 16px;
        mask-image: url('/assets/vectors/star.svg');
        mask-repeat: no-repeat;
        background-color: var.$grey;
    }

    &::before.active {
        background-color: var.$active-stars;
    }
}