@use '../variables'as var;

.main-nav__toggle {
    position: absolute;
    top: 23px;
    left: 20px;
    z-index: 2;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center;
}

.main-nav--closed .main-nav__toggle {
    background-image: url("../../../public/assets/vectors/burger-menu.svg");
}

.main-nav--opened .main-nav__toggle {
    background-image: url("../../../public/assets/vectors/close.svg");
}

.main-nav--opened .main-nav__list {    
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var.$light-green;
}

.main-nav--closed .main-nav__list {
    display: none;
}