// Display Resolution

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Colors

$black: #000000;
$base-color: #222222;
$secondary-color: #555555;
$popap-text: #122237;
$popap-title: #021c1c;
$popap-description: #3e5658;
$acc-title: #0c1623;
$acc-text: #1d263a;
$white: #ffffff;
$brand-color: #24ab70;
$light-green: #f4fbf8;
$light-green2: #f4fdfe;
$dark-grey: #585858;
$grey: #e5e5e5;
$light-grey: #fafafa;
